[user]
	name = Jeremy Jarrell
	email = jeremy@jeremyjarrell.com
[core]
	excludesfile = /Users/jjarrell/.gitignore_global
[difftool]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
	keepBackup = false
[push]
	default = simple
[color]
	ui = true
[merge]
	tool = custom
	keepBackup = false
[mergetool "custom"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
        keepTemporaries = false
        trustExitCode = false
        keepBackup = false

[alias]
	ci = commit
 	a = add --all :/
 	co = checkout
 	cob = checkout -b
 	st = status
 	pl = pull
 	ps = push
	br = branch
	mg = merge
	lg = log --pretty=medium --graph
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
